.block-scroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.back.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.1, 0.1)
    /* display: none; */
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    z-index: 100;
    padding: 20px;
    transition-property: opacity, visibility;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1, 1);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-property: background-color, z-index;
    transition-duration: 500ms; */
}

.modal-container {
    border: 2px solid #111111;
    border-radius: 18px;
    padding: 40px 24px;
    max-height: 100vh;
    
}

.modal-light {
    background-color: #F6F6F6;
}

.modal-dark {
    background-color: #202024;
}

@media screen and (max-width: 578.9px) {
    .modal-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 335px;
        width: 100%;
    }
}

@media screen and (min-width: 579px) {
    .modal-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        
    }
}


.btn-modal-close {
    background-color: transparent;
    border: none;
    padding: 6px;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    cursor: pointer;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:focus,
.btn-modal-close:hover {
    color: #4F2EE8;
}

.icon-x {
    display: inline-block;
    /* width: 1em;
    height: 1em; */
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.rander-modal {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 579px) {
    .rander-modal {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

}

.book-info {
    display: flex;
    flex-direction: column;
}

.img-modal {
    /* display: block; */
    /* width: 100%; */
    /* max-width: 287px; */
    /* height: 408px; */
    max-height: 408px;
    /* max-width: 287px; */
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

@media screen and (min-width: 579px) {
    .img-modal {
        max-height: 281px;
    }
}

.modal-name-book {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;
    width: 287px;
    margin-top: 14px;
}
.modal-text-light {
    color: #111111;
}
.modal-text-dark {
    color: #FFFFFF;
}


.modal-author-book {

    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #B4AFAF;
    margin-top: 4px;
}

.modal-description-book {
    max-height: 90px;
    max-width: 287px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    margin-top: 18px;
    overflow-y: auto;
}

.list-link-market {
    display: flex;
    list-style: none;
    margin-top: 14px;
    gap: 20px;
    align-items: center;
}

.link-market {
    mix-blend-mode: luminosity;

}

.link-market:focus,
.link-market:hover {
    mix-blend-mode: normal;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center
}

.btn-shopping {
    /* display: block; */
    cursor: pointer;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 28px;
    gap: 10px;
    border: 2px solid #4F2EE8;
    border-radius: 40px;
    background-color: transparent;
    margin-top: 40px;
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    transition-property: color, background;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-shopping:hover {
    color: #FFFFFF;
    background: #4F2EE8;
}

.btn-shopping:focus {
    color: #FFFFFF;
    background: #4F2EE8;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 579px) {
    .btn-shopping {
        font-size: 14px;
    }
}

.modal-message {
    max-width: 242px;
    /* font-family: 'DM Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.04em;
    
    margin-top: 8px;
}
@media screen and (min-width: 579px) {
    .modal-message {
        max-width: 324px;
    } 
}
.message-light {
    color: rgba(17, 17, 17, 0.5);
}
.message-dark {
    color: rgba(255, 255, 255, 0.5);
}