.shoping-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shoping-top {
  flex-grow: 1;
}

@media screen and (max-width: 1439.8px) {
.support-ukraine-container-shoping{
    display: none;
  }
}

.support-ukraine-container-shoping{
    min-width: 335px;
    max-height: 490px;
  
    padding-top: 24px;
    padding-bottom: 20px;
    margin-top: 40px;
  
    border-radius: 16px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
}

.support-ukraine-container {
  min-width: 335px;
  max-height: 490px;

  padding-top: 24px;  
  padding-bottom: 20px;

  border-radius: 16px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
}

.support-ukraine-container .support-ukraine-title-and-list {
  padding-left: 40px;
  padding-top: 24px;
}

@media screen and (min-width: 767.8px) {

  .support-ukraine-title-and-list {
    width: 335px;
    margin-bottom: 32px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) and (min-width: 1440px) {
  .support-ukraine-container {
    height: 490px;
    width: 335px;
  }

  .support-ukraine-title-and-list {
    padding-left: 40px;
    margin-bottom: 40px;
    // margin-left: auto;
    // margin-right: auto;
    overflow-y: hidden;
  }
}

.support-ukraine-text-block {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  margin-left: 40px;
  margin-bottom: 40px;
  gap: 12px;

}

@media screen and (max-width: 334px) { 
  .support-ukraine-title {
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin: 0;
    color: var(--accent-color3);
  }
}

@media screen and (min-width: 335px) {
  .support-ukraine-title {
    font-size: 28px;
    line-height: 1.14;
    margin: 0px;
    letter-spacing: -0.04em;
    color: var(--accent-color3);
  }
}

.svg-support-ukraine {
  fill: var(--accent-color3);
}

//____________

.support-ukraine-container-slider {
  width: 159px;
  height: 188px;
  margin-top: 40px;
  margin-left: 40px;  
  overflow: hidden;  
}

@media screen and (min-width: 768px) {
  .support-ukraine-container-slider {
    height: 292px;
  }
}

.support-ukraine-gallery {
  list-style: none;
}

.slider-line {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  bottom: 0;
  transition: all ease 1s;
}

.support_gallery_item {
  height: 32px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--accent-color3); 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.support_gallery_number{
  font-size: 14px;
  
  line-height: 1.29;
  letter-spacing: -0.04em;
  margin-right: 16px;
  
  width: 14px;
  height: 18px;
}

// .support_gallery_link {
  
// }

.support_gallery_link img{ 
  height: 32px;
  width: auto;
  display: block;
  object-fit: contain;
}

//____________
.scroll-up-btn, .scroll-down-btn {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color3);

  transition-duration: 1000ms;  
}

@media screen and (min-width: 768px) {
  .scroll-up-btn, .scroll-down-btn {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .scroll-up-btn, .scroll-down-btn {
    margin-top: 40px;
  }
}

.scroll-up-btn-rotate {
  transform: rotate(180deg);
  transition-duration: 1000ms;
}

.scroll-up-icon {
  fill: var(--accent-color1);
}


