@font-face {
  font-family: "DM Sans", sans-serif;
  src: url(../fonts/DMSans-Bold.ttf), url(../fonts/DMSans-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans", sans-serif;
  src: url(../fonts/DMSans-Medium.ttf), url(../fonts/DMSans-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans", sans-serif;
  src: url(../fonts/DMSans-Regular.ttf), url(../fonts/DMSans-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans", sans-serif;
  src: url(../fonts/DMSans-Italic.ttf), url(../fonts/DMSans-Italic.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
html {
  min-width: 320px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
  background-color: var(--light-theme-background);
  width: 100vw;
}

.list {
  list-style: none;
}

.link {
  font-family: inherit;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 320.4px) and (max-width: 767.8px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.8px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .sidebar {
    flex-direction: row;
    margin-left: 0px;
   // margin-top: 40px;
    margin-bottom: 60px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: row;
  }
  .sidebar {
    flex-direction: column;
    row-gap: 142px;
  }
}
:root {
  --logo-theme-light: #000000;
  --logo-theme-dark: #F3F3F3;
  --dark-theme-background:#202024;
  --light-theme-background:#F6F6F6;
  --text-dark-color: #111111;
  --text-light-color: #B4AFAF;
  --text-white-color: #ffffff;
  --accent-color1: #4F2EE8;
  --accent-color2: #EAC645;
  --accent-color3: #FFFFFF;
  --main-font: "DM Sans";
  --header-background: #FFFFFF;
  --footer-background: #FFFFFF;
  --transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  padding-top: 17px;
  padding-bottom: 16px;
  position: sticky;
  width: 100vw;
  z-index: 100;
  top: 0;
  right: 0;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  background-color: var(--accent-color3);
  transition: background-color var(--transition);
}

.header .container {
  flex-direction: row;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: -0.04em;
  color: var(--logo-theme-light);
  font-weight: 500;
}

.burger-menu {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}

.burger-logo {
  stroke: black;
}

.navigation {
  display: none;
}

.mobile-navigation {
  margin-top: 126px;
  margin-left: 108px;
}

.mobile-home-link {
  padding: 8px 16px;
  display: inline-flex;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  font-weight: 500;
  border-radius: 36px;
  color: var(--accent-color3);
  transition: background-color var(--transition), font-weight var(--transition);
}

.mobile-shopping-link {
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.04em;
  border-radius: 36px;
  color: var(--accent-color3);
  transition: background-color var(--transition), font-weight var(--transition);
}

.mobile-home-link:hover,
.mobile-home-link:focus {
  background-color: var(--accent-color2);
  font-weight: 700;
  transition: font-weight var(--transition);
}

.mobile-shopping-link:hover,
.mobile-shopping-link:focus {
  background: var(--accent-color2);
  font-weight: 700;
}

.mobile-shopping-bag-icon {
  fill: var(--accent-color3);
  transition: var(--transition);
}

.mobile-home-link.mobile-selected,
.mobile-shopping-link.mobile-selected,
.mobile-shopping-bag-icon.mobile-selected {
  background-color: var(--accent-color2);
  font-weight: 700;
  color: var(--text-dark-color);
  fill: var(--text-dark-color);
}

.user-login {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 11px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .navigation {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .logo-link {
    margin-right: 28px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.home-link.selected, .shopping-link.selected {
  background-color: var(--accent-color2);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .home-link {
    padding: 8px 16px;
    display: inline-flex;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    font-weight: 500;
    border-radius: 36px;
    color: var(--text-dark-color);
    transition: background-color var(--transition), font-weight var(--transition);
  }
  .home-link:hover,
  .home-link:focus {
    background-color: var(--accent-color2);
    font-weight: 700;
    transition: font-weight var(--transition);
  }
}
@media screen and (min-width: 768px) {
  .shopping-link {
    padding: 7px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.04em;
    border-radius: 36px;
    color: var(--text-dark-color);
    transition: background-color var(--transition), font-weight var(--transition);
  }
  .shopping-link:hover,
  .shopping-link:focus {
    background: var(--accent-color2);
    font-weight: 700;
  }
  .shopping-bag-icon {
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .user-login {
    width: 184px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 14px 12px;
    background: var(--accent-color1);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--accent-color3);
    border: 1.5px solid #111111;
    border-radius: 18px;
    transition: background-color var(--transition);
  }
  .user-login:hover,
  .user-login:focus {
    background-color: #37209d;
  }
  .icon-arrow-right {
    stroke: var(--accent-color2);
  }
  .icon-user-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 37px;
    height: 37px;
    background: var(--light-theme-background);
    border-radius: 50%;
  }
  .icon-registration-triangle {
    margin-left: 4px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-container {
    height: 100%;
  }
  .mobile-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url("../images/menu/mobile_menu_background@1x.png"), radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    transition: 300ms linear;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .mobile-menu {
    background: url("../images/menu/mobile_menu_background@2x.png"), radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
}
@media screen and (max-width: 767px) {
  .icon-close-mobile-menu,
  .icon-burger-mobile-menu {
    transition: opacity var(--transition);
  }
}
@media screen and (max-width: 767px) {
  .user-sign-up-mobile {
    margin-top: 84px;
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 14px 12px;
    background: var(--accent-color1);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--accent-color3);
    border: 1.5px solid #111111;
    border-radius: 18px;
    transition: var(--transition);
  }
}
@media screen and (max-width: 767px) {
  .icon-arrow-right {
    stroke: var(--accent-color2);
  }
}
@media screen and (max-width: 767px) {
  .user-login-mobile:hover,
  .user-login-mobile:focus {
    background-color: var(--accent-color3);
    color: var(--text-dark-color);
  }
}
@media screen and (max-width: 767px) {
  .loged-in-wrapper {
    width: 100%;
    padding-top: 84px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .user-login-mobile {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.32;
    letter-spacing: -0.02em;
    color: var(--accent-color3);
  }
}
@media screen and (max-width: 767px) {
  .icon-user-wrapper-mobile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 37px;
    height: 37px;
    background: var(--light-theme-background);
    border-radius: 50%;
  }
}
@media screen and (max-width: 767px) {
  .nav-mobile-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 126px;
    max-width: 150px;
  }
}
@media screen and (max-width: 767px) {
  .nav-item-mobile:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 767px) {
  .shopping-link-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
@media screen and (max-width: 767px) {
  .shopping-bag-icon-mobile {
    fill: var(--accent-color3);
    transition: var(--transition);
  }
}
@media screen and (max-width: 767px) {
  .home-link-mobile,
  .shopping-link-mobile {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    padding: 7px 16px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--accent-color3);
    border-radius: 36px;
    transition: 400ms linear;
  }
}
@media screen and (max-width: 767px) {
  .shopping-link-mobile:hover,
  .home-link-mobile:hover,
  .shopping-link-mobile:focus,
  .home-link-mobile:focus {
    color: var(--text-dark-color);
    background-color: var(--light-accent-color-2);
  }
}
@media screen and (max-width: 767px) {
  .shopping-link-mobile:hover .shopping-bag-icon-mobile,
  .shopping-link-mobile:focus .shopping-bag-icon-mobile {
    fill: var(--text-dark-color);
  }
}
@media screen and (max-width: 767px) {
  .log-out-mobile {
    display: flex;
    align-items: center;
    margin-top: 382px;
    gap: 4px;
    min-width: 118px;
    padding: 12px 24px;
    background: var(--accent-color3);
    cursor: pointer;
    border: 1.5px solid #111111;
    border-radius: 18px;
    color: var(--text-dark-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--text-dark-color);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 76px;
  }
}
.switch {
  margin-left: auto;
  margin-right: 14px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .switch {
    margin-right: 24px;
  }
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 400ms;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  top: 1px;
  background-color: var(--accent-color3);
  transition: 400ms;
}

input:checked + .slider,
input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.category-list-box {
  margin: 0;
 // margin-top: 40px;
  padding: 0;
  overflow-y: scroll;
}

.category-list-box::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(208, 208, 208);
}

.category-list-box::-webkit-scrollbar-thumb {
  background-color: #bcbaba;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #a5a5a5;
}

/* phone screen */
@media screen and (min-width: 320px) {
  .category-list-box {
    max-width: 307px;
    height: 228px;
    width: 335px;
  }
}
/* tablet screen */
@media screen and (min-width: 768px) {
  .category-list-box {
    max-width: 309px;
    height: 472px;
    width: 337px;
  }
}
/* desctop screen */
@media screen and (min-width: 1158px) {
  .category-list-box {
    max-width: 328px;
    width: 356px;
  }
}
#category-list-title {
  font-size: 18px;
  color: var(--accent-color1);
  text-transform: uppercase;
}

.category-list-item {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
  margin-bottom: 32px;
  white-space: nowrap;
  height: 24px;
}

.category-list-item:hover,
.category-list-item:focus {
  font-size: 16.9px;
  letter-spacing: -0.07em;
  color: var(--accent-color1);
  text-transform: uppercase;
}

.homepage-books {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1002px;
}

.best-book-container {
  display: flex;
  flex-direction: column;
}

.best-book-container:not(:last-child) {
  margin-bottom: 40px;
}

.img-book {
  border-radius: 8px;
}

.list-books {
  list-style: none;
  letter-spacing: -0.04em;
}

.title-theme-book {
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  color: var(--text-dark-color);
}

.last-word-color {
  color: var(--accent-color1);
}

.theme-book {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-light-color);
}

.title-book {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--text-dark-color);
}

.author {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-light-color);
}

.button-more {
  padding: 14px 28px;
  align-self: flex-end;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text-dark-color);
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--accent-color1);
  border-radius: 40px;
  transition: background-color var(--transition), color var(--transition);
}

.button-more:hover {
  background-color: var(--accent-color1);
  color: var(--accent-color3);
}

@media screen and (max-width: 1439px) {
  .homepage-books {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 375px) {
  .homepage-books {
    text-align: center;
  }
  .img-book {
    height: 256px;
    width: 180px;
  }
  .best-book-container {
    align-items: center;
  }
  .item-book:not(:last-child),
  .item-book.category:not(:last-child) {
    margin-bottom: 40px;
  }
  .list-books,
  .list-books.category {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-more {
    margin-top: 8px;
    align-self: center;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .img-book {
    width: 335px;
    height: 485px;
  }
  .list-books {
    margin-bottom: 8px;
  }
  .item-book:not(:last-child) {
    margin-bottom: 40px;
  }
  .title-theme-book {
    font-size: 32px;
    line-height: 0.8;
  }
  .theme-book {
    line-height: 0.8;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .img-book {
    width: 218px;
    height: 316px;
  }
  .list-books {
    margin-bottom: 20px;
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .list-books {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .list-books.category {
    gap: 40px 24px;
    margin-bottom: 0;
  }
  .title-theme-book {
    font-size: 48px;
    line-height: 1;
  }
  .theme-book {
    line-height: 0.6;
  }
}
@media screen and (min-width: 1440px) {
  .homepage-books {
    margin-left: auto;
  }
  .img-book {
    height: 256px;
    width: 180px;
  }
  .list-books {
    margin-bottom: 32px;
    flex-basis: calc((100% - 96px) / 5);
  }
}
.img-owerlay {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 14px;
}

.owerlay {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color2);
  background-blend-mode: soft-light;
  width: 100%;
  height: 70px;
  transform: translateY(100%);
  transition: transform var(--transition);
}

.item-book:hover .owerlay,
.item-book:focus .owerlay {
  transform: translateY(0);
}

.owerlay-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-dark-color);
  cursor: pointer;
}

.off-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.off-books-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--text-light-color);
}

.btn-up-scroll {
  position: fixed;
  bottom: 80px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-color: transparent;
  background-color: var(--accent-color1);
  border-radius: 50%;
  transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
}

.btn-up-scroll::before {
  content: "";
  width: 54px;
  height: 54px;
  position: absolute;
  border-radius: 50%;
  background: rgba(79, 46, 232, 0.3);
  transition: transform var(--transition);
}

.scrol-up-arrow {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  transform: translateY(50%);
  pointer-events: none;
}

.btn-up-scroll:hover::before,
.btn-up-scroll:focus::before {
  transform: scale(1.2);
}

.btn-up-scroll.is-hidden-btn {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

.shoping-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shoping-top {
  flex-grow: 1;
}

@media screen and (max-width: 1439.8px) {
  .support-ukraine-container-shoping {
    display: none;
  }
}
.support-ukraine-container-shoping {
  min-width: 335px;
  max-height: 490px;
  padding-top: 24px;
  padding-bottom: 20px;
  border-radius: 16px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
}

.support-ukraine-container {
  min-width: 335px;
  max-height: 490px;
  padding-top: 24px;
  padding-bottom: 20px;
  border-radius: 16px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
}

.support-ukraine-container .support-ukraine-title-and-list {
  padding-left: 40px;
  padding-top: 24px;
}

@media screen and (min-width: 767.8px) {
  .support-ukraine-title-and-list {
    width: 335px;
    margin-bottom: 32px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) and (min-width: 1440px) {
  .support-ukraine-container {
    height: 490px;
    width: 335px;
  }
  .support-ukraine-title-and-list {
    padding-left: 40px;
    margin-bottom: 40px;
    overflow-y: hidden;
  }
}
.support-ukraine-text-block {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  margin-left: 40px;
  margin-bottom: 40px;
  gap: 12px;
}

@media screen and (max-width: 334px) {
  .support-ukraine-title {
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin: 0;
    color: var(--accent-color3);
  }
}
@media screen and (min-width: 335px) {
  .support-ukraine-title {
    font-size: 28px;
    line-height: 1.14;
    margin: 0px;
    letter-spacing: -0.04em;
    color: var(--accent-color3);
  }
}
.svg-support-ukraine {
  fill: var(--accent-color3);
}

.support-ukraine-container-slider {
  width: 159px;
  height: 188px;
  margin-top: 40px;
  margin-left: 40px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .support-ukraine-container-slider {
    height: 292px;
  }
}
.support-ukraine-gallery {
  list-style: none;
}

.slider-line {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  bottom: 0;
  transition: all ease 1s;
}

.support_gallery_item {
  height: 32px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--accent-color3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.support_gallery_number {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  margin-right: 16px;
  width: 14px;
  height: 18px;
}

.support_gallery_link img {
  height: 32px;
  width: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.scroll-up-btn, .scroll-down-btn {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color3);
  transition-duration: 1000ms;
}

@media screen and (min-width: 768px) {
  .scroll-up-btn, .scroll-down-btn {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .scroll-up-btn, .scroll-down-btn {
    margin-top: 40px;
  }
}
.scroll-up-btn-rotate {
  transform: rotate(180deg);
  transition-duration: 1000ms;
}

.scroll-up-icon {
  fill: var(--accent-color1);
}

.footer {
  background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  height: 72px;
  padding-top: 17px;
  padding-bottom: 16px;
  border: 1.5px solid #111111;
  border-radius: 8px 8px 0px 0px;
}

.footer .container {
  flex-direction: row;
}

.footer-container {
  display: flex;
  align-items: center;
}

.team-name {
  letter-spacing: -0.04em;
  color: var(--accent-color3);
  align-items: center;
  gap: 8px;
  font-weight: 500;
  display: flex;
}

.about-us-btn {
  position: relative;
  width: 134px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 14px 12px;
  background: var(--accent-color1);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--accent-color3);
  border: 1.5px solid #111111;
  border-radius: 18px;
  transition: background var(--transition), color var(--transition);
  margin-left: 20px;
}

.about-us-btn:hover,
.about-us-btn:focus {
  color: var(--text-dark-color);
  background: var(--accent-color3);
}

.about-us-backdrop {
  position: fixed;
  z-index: 999;
  padding: 20px 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color1);
}

.about-us-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.about-us-modal {
  overflow-y: auto;
  z-index: 1000;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80%;
  width: 335px;
  background-color: var(--light-theme-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
}
@media screen and (min-width: 768px) {
  .about-us-modal {
    min-width: 579px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

.about-us-close-button {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .about-us-close-button {
    top: 24px;
    right: 24px;
  }
}

.about-us-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
}
@media screen and (min-width: 768px) {
  .about-us-close-icon {
    width: 14px;
    height: 14px;
  }
}

.about-us-item {
  margin-bottom: 18px;
}

.about-us-img {
  width: 287px;
  height: 287px;
  border: var(--text-dark-color);
  margin-bottom: 14px;
}

.about-us-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: var(--text-dark-color);
  margin-bottom: 18px;
}

.about-us-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: -0.04em;
  color: var(--text-dark-color);
}

@media screen and (min-width: 768px) {
  .about-us-item {
    display: flex;
    align-items: center;
  }
  .about-us-img {
    margin-right: 24px;
    margin-bottom: 0;
    width: 192px;
    height: 192px;
  }
  .about-us-title {
    font-size: 24px;
    line-height: 1.1666666667;
    margin-bottom: 20px;
  }
  .about-us-item {
    margin-bottom: 20px;
  }
}
.modalNonScroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  padding: 214px 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(251, 80%, 55%, 0.5);
  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 384px;
  min-width: 335px;
  background-color: #f6f6f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 18px;
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 579px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

.close-button {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .close-button {
    top: 24px;
    right: 24px;
  }
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
}
@media screen and (min-width: 768px) {
  .close-icon {
    width: 14px;
    height: 14px;
  }
}

.modalForm-field {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .modalForm-field {
    margin-bottom: 0;
  }
  .margin-name {
    margin-bottom: 28px;
  }
  .margin-email {
    margin-bottom: 28px;
  }
  .margin-password {
    margin-bottom: 40px;
  }
}
.modalForm-inputWrap {
  position: relative;
}

.modalForm-input {
  width: 100%;
  padding: 16px 24px 16px;
  border: 2px solid var(--text-dark-color);
  background-color: transparent;
  border-radius: 40px;
  color: var(--text-dark-color);
  font-size: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modalForm-input:hover, .modalForm-input:focus {
  border: 2px solid var(--accent-color1);
  outline: none;
  border-color: var(--accent-color1);
}
@media screen and (min-width: 768px) {
  .modalForm-input {
    padding: 20px 40px 20px;
    font-size: 18px;
  }
}

.modalForm-input::-moz-placeholder {
  font-size: 16px;
  color: var(--text-dark-color);
}

.modalForm-input::placeholder {
  font-size: 16px;
  color: var(--text-dark-color);
}
@media screen and (min-width: 768px) {
  .modalForm-input::-moz-placeholder {
    font-size: 18px;
  }
  .modalForm-input::placeholder {
    font-size: 18px;
  }
}

.modalForm-icon {
  position: absolute;
  top: 16px;
  right: 24px;
}
@media screen and (min-width: 768px) {
  .modalForm-icon {
    top: 22px;
    right: 34px;
  }
}

@media screen and (min-width: 768px) {
  .modalForm-icon.email {
    width: 23px;
    height: 18px;
  }
}

@media screen and (min-width: 768px) {
  .modalForm-icon.password {
    width: 21px;
    height: 21px;
  }
}

.modalWrapper-btn {
  display: block;
}

.btnSingUp {
  display: block;
  border-radius: 40px;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 14px;
  font-size: 16px;
  color: var(--logo-theme-dark);
  background-color: var(--dark-theme-background);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btnSingUp:hover, .btnSingUp:focus {
  background-color: var(--accent-color1);
  border: 2px solid var(--text-dark-color);
}
@media screen and (min-width: 768px) {
  .btnSingUp {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.modalLink-wrapper {
  display: flex;
  justify-content: center;
}

.modalLink {
  position: relative;
  font-size: 14px;
  text-decoration: none;
  color: rgba(17, 17, 17, 0.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modalLink:hover, .modalLink:focus {
  color: var(--accent-color1);
}
.modalLink.current {
  color: var(--accent-color1);
}
.modalLink.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: var(--accent-color1);
}
@media screen and (min-width: 768px) {
  .modalLink {
    font-size: 18px;
  }
}

.link-sing-up {
  margin-right: 20px;
}

.dark {
  background-color: var(--dark-body-color);
  color: var(--accent-color3);
}

body.dark {
  background-color: var(--text-dark-color);
  color: var(--accent-color3);
}

body.dark .header {
  background-color: var(--text-dark-color);
  color: var(--accent-color3);
  border: 1.5px solid #ffffff;
}

body.dark .logo-link,
body.dark .home-link,
body.dark .shopping-link,
body.dark .shopping-bag-icon,
body.dark .burger-logo {
  color: var(--accent-color3);
  fill: var(--accent-color3);
  stroke: var(--accent-color3);
}

body.dark .shopping-link:hover,
body.dark .shopping-link:focus,
body.dark .shopping-link:hover .shopping-bag-icon,
body.dark .shopping-link:focus .shopping-bag-icon,
body.dark .home-link:hover,
body.dark .home-link:focus {
  color: var(--text-dark-color);
  fill: var(--text-dark-color);
}

body.dark .category {
  color: rgba(255, 255, 255, 0.6);
}

body.dark .category:hover,
body.dark .category:focus {
  color: var(--accent-color2);
}

body.dark .category-title,
body.dark .book-name,
body.dark .button-see-more {
  color: var(--accent-color3);
}

body.dark .title-theme-book {
  color: var(--accent-color3);
}

body.dark .title-book {
  color: var(--accent-color3);
}

body.dark .button-more {
  color: var(--text-white-color);
}

body.dark #category-list-title {
  color: var(--accent-color2);
}

body.dark .category-list-item {
  color: rgba(255, 255, 255, 0.6);
}

body.dark .category-list-item:hover {
  color: var(--accent-color2);
  text-transform: uppercase;
}

body.dark .category-list-box::-webkit-scrollbar {
  background-color: rgb(179, 178, 178);
}

body.dark .category-list-box::-webkit-scrollbar-thumb {
  background-color: #1f1d1d;
  box-shadow: inset 1px 1px 10px #797a74;
}

body.dark .modal {
  background-color: black;
  border-color: var(--accent-color3);
}

body.dark .close-button {
  color: var(--accent-color3);
}

body.dark .modalForm-input {
  border: 2px solid var(--text-white-color);
  background-color: transparent;
  color: var(--text-white-color);
}

body.dark .modalForm-input::-moz-placeholder {
  color: var(--text-white-color);
}

body.dark .modalForm-input::placeholder {
  color: var(--text-white-color);
}

body.dark .close-icon,
body.dark .close-button {
  fill: #ffffff;
}

body.dark .modalForm-icon.email {
  fill: #ffffff;
}

body.dark .btnSingUp {
  color: black;
  background-color: var(--accent-color3);
}
body.dark .btnSingUp:hover, body.dark .btnSingUp:focus {
  background-color: var(--accent-color1);
  border: 2px solid var(--text-dark-color);
}

body.dark .modalLink {
  color: rgba(255, 255, 255, 0.6);
}

body.dark .link-sing-up {
  color: var(--accent-color1);
}

body.dark .shopping_list_title {
  color: var(--accent-color3);
}

body.dark .book-title {
  color: var(--accent-color3);
}

body.dark .book-description {
  color: var(--text-white-color);
}

body.dark .btn-two,
body.dark .btn-many {
  color: var(--text-white-color);
  background-color: black;
  border-radius: 1px solid var(--accent-color3);
}

.block-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.is-hidden {
  display: none;
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 578.9px) {
  .modal-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*  */
    max-width: 335px;
    width: 100%;
    /* height: 100%; */
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
    border: 2px solid #111111;
    border-radius: 18px;
    padding: 40px 24px;
  }
}
@media screen and (min-width: 579px) {
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100vw; */
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
    border: 2px solid #111111;
    border-radius: 18px;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
  }
}
.btn-modal-close {
  background-color: transparent;
  border: none;
  padding: 6px;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  cursor: pointer;
}

.btn-modal-close:focus,
.btn-modal-close:hover {
  color: #4F2EE8;
}

.icon-x {
  display: inline-block;
  /* width: 1em;
  height: 1em; */
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.rander-modal {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 579px) {
  .rander-modal {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.book-info {
  display: flex;
  flex-direction: column;
}

.img-modal {
  /* display: block; */
  /* width: 100%; */
  /* max-width: 287px; */
  /* height: 408px; */
  max-height: 408px;
  /* max-width: 287px; */
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 579px) {
  .img-modal {
    max-height: 281px;
  }
}
.modal-name-book {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #111111;
  margin-top: 14px;
}

.modal-author-book {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #B4AFAF;
  margin-top: 4px;
}

.modal-description-book {
  max-height: 90px;
  max-width: 287px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #111111;
  margin-top: 18px;
  overflow-y: auto;
}

.list-link-market {
  display: flex;
  list-style: none;
  margin-top: 14px;
  gap: 20px;
  align-items: center;
}

.link-market {
  mix-blend-mode: luminosity;
}

.link-market:focus,
.link-market:hover {
  mix-blend-mode: normal;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-shopping {
  /* display: block; */
  cursor: pointer;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 28px;
  gap: 10px;
  border: 2px solid #4F2EE8;
  border-radius: 40px;
  background-color: transparent;
  margin-top: 40px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111111;
}

.btn-shopping:hover {
  color: #FFFFFF;
  background: #4F2EE8;
}

.btn-shopping:focus {
  color: #FFFFFF;
  background: #4F2EE8;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 579px) {
  .btn-shopping {
    font-size: 14px;
  }
}
.modal-message {
  max-width: 242px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
  margin-top: 8px;
}/*# sourceMappingURL=index.css.map */
