// прописати стилі для галереї книжок по категоріях на homepage

.category-list-box {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    overflow-y: scroll;
}

/* phone screen */
@media screen and (min-width: 320px) {
    .category-list-box {
        max-width: 307px;
        height: 228px;
        margin-left: 20px;
    }
}

/* tablet screen */
@media screen and (min-width: 768px) {
    .category-list-box {
        max-width: 309px;
        height: 472px;
        margin-left: 32px;
    }
}

/* desctop screen */
@media screen and (min-width: 1158px) {
    .category-list-box {
        max-width: 328px;
margin-left: 24px;
    }
}

#category-list-title {
    color: #4F2EE8;
    font-weight: 700;
    text-transform: uppercase;
}

.category-list-item {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
    cursor: pointer;
    margin-bottom: 24px;
}
