.block-scroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.is-hidden {
    display: none;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 578.9px) {
    .modal-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        /*  */
        max-width: 335px;
        width: 100%;
        /* height: 100%; */
        max-height: 100vh;
        background-color: rgb(255, 255, 255);
        border: 2px solid #111111;
        border-radius: 18px;
        padding: 40px 24px;

    }
}

@media screen and (min-width: 579px) {
    .modal-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* width: 100vw; */
        max-height: 100vh;
        background-color: rgb(255, 255, 255);
        border: 2px solid #111111;
        border-radius: 18px;
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
    }
}


.btn-modal-close {
    background-color: transparent;
    border: none;
    padding: 6px;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    /* align-content: center; */
    justify-content: center;
}

.icon-x {
    display: inline-block;
    /* width: 1em;
    height: 1em; */
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.rander-modal {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 579px) {
    .rander-modal {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
}

.book-info {
    display: flex;
    flex-direction: column;
}

.img-modal {
    /* display: block; */
    /* width: 100%; */
    /* max-width: 287px; */
    /* height: 408px; */
    max-height: 408px;
    /* max-width: 287px; */
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
@media screen and (min-width: 579px) {
    .img-modal {
        max-height: 281px;
    }
}

.modal-name-book {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #111111;
    margin-top: 14px;
    
}

.modal-author-book {
    
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #B4AFAF;
    margin-top: 4px;
}

.modal-description-book {
    max-height: 90px;
    max-width: 287px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #111111;
    margin-top: 18px;
    overflow-y: auto;
}

.list-link-market {
    display: flex;
    list-style: none;
    margin-top: 14px;
    gap: 20px;
    align-items: center;
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center
}

.btn-shopping {
    /* display: block; */
    cursor: pointer;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 28px;
    gap: 10px;
    border: 2px solid #4F2EE8;
    border-radius: 40px;
    background-color: transparent;
    margin-top: 40px;
    width: 100%;
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #111111;
}

.modal-message {
    max-width: 242px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.04em;
    color: rgba(17, 17, 17, 0.5);
    margin-top: 8px;
}