  <div class="about-us-backdrop is-hidden">
      <div class="about-us-modal">
        <!-- button close -->
        <button class="about-us-close-button" type="button" title="Close button">
            <svg class="about-us-close-icon" width="10" hight="10">
              <use href="./images/svg/sprite.svg#close_icon">a</use>
            </svg>
          </button>
          
          <ul class="about-us-list list">
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ1</h2>
                    <p class="about-us-text">зона відповідальності1</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ2</h2>
                    <p class="about-us-text">зона відповідальності2</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ3</h2>
                    <p class="about-us-text">зона відповідальності3</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ4</h2>
                    <p class="about-us-text">зона відповідальності4</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ5</h2>
                    <p class="about-us-text">зона відповідальності5</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ6</h2>
                    <p class="about-us-text">зона відповідальності6</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ7</h2>
                    <p class="about-us-text">зона відповідальності7</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ8</h2>
                    <p class="about-us-text">зона відповідальності8</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ9</h2>
                    <p class="about-us-text">зона відповідальності9</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="#" alt="">
                <div class="about-us-description">
                    <h2 class="about-us-title">ПІБ10</h2>
                    <p class="about-us-text">зона відповідальності10</p>
                </div>
            </li>
          </ul>       
         
        </div>
    </div>