  <div class="about-us-backdrop is-hidden">
      <div class="about-us-modal">
        <!-- button close -->
        <button class="about-us-close-button" type="button" title="Close button">
            <svg class="about-us-close-icon" width="10" hight="10">
              <use href="./images/svg/sprite.svg#close_icon">a</use>
            </svg>
          </button>
          
          <ul class="about-us-list list">
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/olgaDzubak.jpg" alt="Olga Dzubak">
                <div class="about-us-description">
                    <h2 class="about-us-title">Ольга Дзюбак</h2>
                    <p class="about-us-text">Лідер команди (Team lead)</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/olgaSmieshko.jpg" alt="Olga Smieshko">
                <div class="about-us-description">
                    <h2 class="about-us-title">Смєшко Ольга</h2>
                    <p class="about-us-text">Скрам майстер. Header та footer</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/oleksandrSilka.jpg" alt="Oleksandr Silka">
                <div class="about-us-description">
                    <h2 class="about-us-title">Олександр Силка</h2>
                    <p class="about-us-text">Модальне вікно з описом книги і можливістю додати та видалити зі списку покупок</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/oksanaKomarnytska.jpg" alt="Oksana Komarnytska">
                <div class="about-us-description">
                    <h2 class="about-us-title">Оксана Комарницька</h2>
                    <p class="about-us-text">Слайдер з переліком благодійних фондів</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/dimaChernyaev.jpg" alt="Dima Chernyaev">
                <div class="about-us-description">
                    <h2 class="about-us-title">Дмитро Черняєв</h2>
                    <p class="about-us-text">Секція з популярними книгами та Scroll up</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/natalkaMyzika.jpg" alt="Natalka Myzika">
                <div class="about-us-description">
                    <h2 class="about-us-title">Наталія Музика</h2>
                    <p class="about-us-text">Світла та темна теми</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/maxSurzhko.jpg" alt="Max Surzhko">
                <div class="about-us-description">
                    <h2 class="about-us-title">Максим Сужко</h2>
                    <p class="about-us-text">Список покупок та Pagination</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/anastasiaOstrovskaya.jpg" alt="Anastasia Ostrovskaya">
                <div class="about-us-description">
                    <h2 class="about-us-title">Анастасія Островська</h2>
                    <p class="about-us-text">Модальне вікно з формою авторизації та </p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/vadymShatniy.jpg" alt="Vadym Shatniy">
                <div class="about-us-description">
                    <h2 class="about-us-title">Вадим Шатний</h2>
                    <p class="about-us-text">Секція з переліком усіх категорій та список книг відповідно до категорії</p>
                </div>
            </li>
            <li class="about-us-item">
                <img class="about-us-img" src="./images/footer/vladSurzhko.jpg" alt="Vlad Surzhko">
                <div class="about-us-description">
                    <h2 class="about-us-title">Влад Сужко</h2>
                    <p class="about-us-text">Список покупок та Pagination</p>
                </div>
            </li>
          </ul>       
         
        </div>
    </div>