<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <!-- ❗️❗️❗️ Add partials like so for every page -->

    <div class="backdrop is-hidden">
      <div class="modal">
        <form class="modalForm">
          <!-- button close -->
          <button class="close-button" type="button" title="Close button">
            <svg class="close-icon" width="10" hight="10">
              <use href="./images/svg/sprite.svg#close_icon">a</use>
            </svg>
          </button>

          <!-- name -->
          <div class="modalForm-field margin-name">
            <label class="modalForm-label" for="name">
              <input
                class="modalForm-input"
                type="name"
                name="name"
                id="name"
                placeholder="NAME"
              />
            </label>
          </div>

          <!-- email -->
          <div class="modalForm-field margin-email">
            <label class="modalForm-label" for="email">
              <div class="modalForm-inputWrap">
                <input
                  class="modalForm-input"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="EMAIL"
                /><svg class="modalForm-icon email" width="18" height="18">
                  <use href="./images/svg/sprite.svg#mail_icon"></use>
                </svg>
              </div>
            </label>
          </div>

          <!-- password -->
          <div class="modalForm-field margin-password">
            <label class="modalForm-label" for="password">
              <div class="modalForm-inputWrap">
                <input
                  class="modalForm-input"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="PASSWORD"
                /><svg class="modalForm-icon password" width="18" height="18">
                  <use href="./images/svg/sprite.svg#password_icon"></use>
                </svg>
              </div>
            </label>
          </div>

          <!-- button -->
          <div class="modalWrapper-btn">
            <button class="btnSingUp" type="submit">SING UP</button>

            <!-- links -->
            <div class="modalLink-wrapper">
              <a class="modalLink link-sing-up current" href="">SING UP</a>
              <a class="modalLink" href="">SING IN</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
