<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="./sass/index.scss" />
   <!--  <script type="module" src="./index.js"></script> -->
  </head>
  <body>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
    <div class="back is-hidden">
      <div class="modal-container">
        <button type="button" class="btn-modal-close">
          <svg class="icon-x" width="24px" height="24px">
            <use xlink:href='./images/svg/sprite.svg#x-close-icon'></use>
          </svg>
        </button>
        <div class="rander-modal">
          <div class="book-img">
            
          </div>
        <div class="book-info">
          <p class="modal-name-book" id="name-book"></p>
          <p class="modal-author-book" id="author"></p>
          <p class="modal-description-book" id="description"></p>
          <ul class="list-link-market">
            <li class="item-link-market">
              <a href="#" class="link-market" id="amazon">
                <img src="./images/png/amazon.png" alt="Logo Amazon">
                <!-- <svg class="icon-link" width="62px" height="20px">
                                  <use xlink:href='./images/svg/sprite.svg#amazon-icon'></use>
                                </svg> -->
              </a>
            </li>
            <li class="item-link-market">
              <a href="#" class="link-market" id="apple">
                <img src="./images/png/apple-books.png" alt="Logo Apple">
                <!-- <svg class="icon-link" width="62px" height="20px">
                                  <use xlink:href='./images/svg/sprite.svg#amazon-icon'></use>
                                </svg> -->
              </a>
            </li>
            <li class="item-link-market">
              <a href="#" class="link-market" id="barnes">
                <img src="./images/png/barnes-and-noble.png" alt="Logo Barnes and Noble">
                <!-- <svg class="icon-link" width="62px" height="20px">
                                  <use xlink:href='./images/svg/sprite.svg#ibooks_icon'></use>
                                </svg> -->
              </a>
            </li>
          </ul>
        </div>
        </div>
        <div class="btn-box">
          <button type="button" class="btn-shopping is-hidden add">ADD TO SHOPPING LIST</button>
          <button type="button" class="btn-shopping is-hidden remove">REMOVE FROM THE SHOPPING LIST</button>
          <p class="modal-message is-hidden">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
        </div>
      </div>
    </div>
   
  </body>
</html>
