<!-- <section class="support-ukraine-section"> -->
<div class="support-ukraine-container">
  <div class="support-ukraine-text">
    <h2 class="support-ukraine-title">Support Ukraine</h2>
    <svg class="svg-support-ukraine" width="20" height="32">
      <use href="/src/images/svg/sprite.svg#ukrainian_gerb_icon"></use>
    </svg>
  </div>

  <ol class="support-ukraine-gallery"></ol>

  <button type="submit" class="scroll-up-btn">
    <svg class="scroll-up-icon" width="24" height="24">
      <use href="/src/images/svg/sprite.svg#icon_scroll_up"></use>
    </svg>
  </button>
</div>
<!-- </section> -->
