<div class="support-ukraine-container">
  
    <div class="support-ukraine-text-block">
      <h2 class="support-ukraine-title">Support Ukraine</h2>
      <svg class="svg-support-ukraine" width="20" height="32">
        <use href="/src/images/svg/sprite.svg#ukrainian_gerb_icon"></use>
      </svg>
    </div>

    <!-- Swiper -->
    <div class="swiper mySwiper">
      <ul class="support-ukraine-gallery swiper-wrapper"></ul>
      <!-- <ol class="support-ukraine-gallery swiper-wrapper"></ol> -->
    </div>
  
  <button type="button" class="scroll-up-btn">
    <svg class="scroll-up-icon swiper-button-next" width="24" height="24">
      <use href="/src/images/svg/sprite.svg#icon_scroll_up"></use>
    </svg>
  </button>
</div>
