<div class="support-ukraine-container">
  <div class="support-ukraine-text-block">
    <h2 class="support-ukraine-title">Support Ukraine</h2>
    <svg class="svg-support-ukraine" width="20" height="32">
      <use href="/src/images/svg/sprite.svg#ukrainian_gerb_icon"></use>
    </svg>
  </div>

  <!-- Slider -->
  <div class="support-ukraine-container-slider">
    <ul class="support-ukraine-gallery slider-line"></ul>
  </div>

  <button type="button" class="scroll-up-btn" style="display: none">
    <svg class="scroll-up-icon scroll-up-btn-rotate" width="24" height="24">
      <use href="/src/images/svg/sprite.svg#icon_scroll_up"></use>
    </svg>
  </button>
  <button type="button" class="scroll-down-btn">
    <svg class="scroll-up-icon" width="24" height="24">
      <use href="/src/images/svg/sprite.svg#icon_scroll_up"></use>
    </svg>
  </button>
</div>
