html{
    min-width: 320px;
  }

body {
font-family: 'DM Sans', sans-serif;
font-size: 12px;
letter-spacing: 0.02em;
background-color: var(--light-theme-background);
width: 100vw;
}

.list {
list-style: none;
}

.link {
font-family: inherit;
text-decoration: none;
}

p {
margin-top: 0;
margin-bottom: 0;
}

ul,
ol {
margin: 0;
padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

.is-hidden{
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}



.container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items:  center;
}

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
  }

@media screen and (min-width: 320.4px) and (max-width: 767.8px) {
  .container {
    width: 375px;
  }
  }

@media screen and (min-width: 768px) and (max-width: 1439.8px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .sidebar {
    flex-direction: row;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    justify-content: space-between;
}
  }


@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: row;
  }
  .sidebar {
    flex-direction: column;
    row-gap: 142px;
}
}




  