:root {
    --logo-theme-light: #00000;
    --logo-theme-dark: #F3F3F3;
 
    --dark-theme-background:#202024;
    --light-theme-background:#D0D0D0;

    --text-dark-color: #111111;
    --text-light-color: #B4AFAF;
    --accent-color1: #4F2EE8;
    --yellow-color2: #EAC645;
    --white-color: #FFFFFF;

    --main-font: 'DM Sans';
    //--logo-font: '';
    // --additional-font: '';

    --header-background: #FFFFFF;
    --footer-background: #FFFFFF;

    --transition: 500ms cubic-bezier(0.4, 0, 0.2, 1); 
  }