:root {
    --logo-theme-light: #000000;
    --logo-theme-dark: #F3F3F3;
 
    --dark-theme-background:#202024; 
    --light-theme-background:#F6F6F6;

    --text-dark-color: #111111;
    --text-light-color: #B4AFAF;
    --text-white-color: #ffffff;

    
    --accent-color1: #4F2EE8;
    --accent-color2: #EAC645;
    --accent-color3: #FFFFFF;

    --main-font: 'DM Sans';
 
    --header-background: #FFFFFF;
    --footer-background: #FFFFFF;

    --transition: 500ms cubic-bezier(0.4, 0, 0.2, 1); 
  }